
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #212529;
    font-family: monospace;
}
nav{
    background-color: #343A40;
}
.nav-table{
    width: 100%;
    height: 100px;
}

.nav-table-row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-table td{
    text-align: center;
    font-size: large;
    font-weight:bolder;
}
.image{
    position: relative;
    float: inline-start;
}
.hakkimizda:link,.hakkimizda:visited{
    display: inline-block;
    padding: 14px 25px;
    text-decoration: none;
    border-radius: 10%;
    color: #fff;
}
.hakkimizda:hover,.hakkimizda:active{
    display: inline-block;
    padding: 14px 25px;
    text-decoration: none;
    color: whitesmoke;
    text-decoration: underline whitesmoke;
}
.robotlar:link,.robotlar:visited{
    display: inline-block;
    padding: 14px 25px;
    text-decoration: none;
    border-radius: 10%;
    color: #fff;
}
.robotlar:hover,.robotlar:active{
    display: inline-block;
    padding: 14px 25px;
    text-decoration: none;
    color: whitesmoke;
    text-decoration: underline whitesmoke;
}
.sponsorlar:link,.sponsorlar:visited{
    display: inline-block;
    padding: 14px 25px;
    text-decoration: none;
    border-radius: 10%;
    color: #fff;
}
.sponsorlar:hover,.sponsorlar:active{
    display: inline-block;
    padding: 14px 25px;
    text-decoration: none;
    color: whitesmoke;
    text-decoration: underline whitesmoke;
}
.blog:link,.blog:visited{
    display: inline-block;
    padding: 14px 25px;
    text-decoration: none;
    border-radius: 10%;
    color: #fff;
}
.blog:hover,.blog:active{
    display: inline-block;
    padding: 14px 25px;
    text-decoration: none;
    color: whitesmoke;
    text-decoration: underline whitesmoke;
}
.iletisim:link,.iletisim:visited{
    display: inline-block;
    padding: 14px 25px;
    text-decoration: none;
    border-radius: 10%;
    color: #fff;
}
.iletisim:hover,.iletisim:active{
    display: inline-block;
    padding: 14px 25px;
    text-decoration: none;
    color: whitesmoke;
    text-decoration: underline whitesmoke;
}
.egitim:link,.egitim:visited{
    display: inline-block;
    padding: 14px 25px;
    text-decoration: none;
    border-radius: 10%;
    color: #fff;
}
.egitim:hover,.egitim:active{
    display: inline-block;
    padding: 14px 25px;
    text-decoration: none;
    color: whitesmoke;
    text-decoration: underline whitesmoke;
}
.photos:link,.photos:visited{
    display: inline-block;
    padding: 14px 25px;
    text-decoration: none;
    border-radius: 10%;
    color: #fff;
}
.photos:hover,.photos:active{
    display: inline-block;
    padding: 14px 25px;
    text-decoration: none;
    color: whitesmoke;
    text-decoration: underline whitesmoke;
}
.about-us-div{
    background-image: url(../image/About_Us/About_Us_Bg_Image.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vw;
}
.about-us-title{
    font-size: 90px;
    color: aliceblue;
}
.title{
    color: azure;
    font-size: 50px;
    margin-top: 2vw;
    margin-bottom: 1vw;
}
.div{
    width: 99%;
    margin: 1vw;
    margin-bottom: 40vw;
}
.img{
    width: 40vw;
    height: 15.26vw;
    margin-right: 1vw;
    height: fit-content;
    float: left;
}
.p{
    font-size: large;
    color: aliceblue;
    margin-left: 1vw;
}
footer{
    width: 100%;
    background-color: #343A40;
    height:fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    bottom: 0;
    
}
.footer-img{
    width: 320px;
    height: 200px;
}

@media  (min-width: 1024px) {}

@media screen and (min-width:710px) and (max-width:1023px) {
    body{
        background-color: aqua;
    }
    .nav-table{
        display: flex;
        height: fit-content;
        justify-content: center;
        align-items: center;
    }
    .nav-table:first-child{
        display: flex;
        height: fit-content;
    }
    .nav-table-row{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about-us-div{
        background-image: url(../image/AnaSite/About_Us_Bg_Image.jpg);
        background-size:cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 30vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10vw;
    }
    .about-us-title{
        
        font-size: 70px;
        color: aliceblue;
    }
    .title{
        color: azure;
        font-size: 40px;
        margin-top: 2vw;
        margin-bottom: 1vw;
    }
    .div{
        width: 99%;
        margin: 1vw;
        margin-bottom: 40vw;
    }
    .img{
        width: 40vw;
        height: 15.26vw;
        margin-right: 1vw;
        height: fit-content;
        float: left;
    }
    .p{
        font-size: large;
        color: aliceblue;
        margin-left: 1vw;
    }
    footer{
        width: 100vw;
        background-color: #343A40;
        height:fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: auto;
        
    }
    .footer-img{
        width: 240px;
        height: 150px;
    }
}

@media screen and (max-width:710px) {
    .nav-table{
        display: flex;
        height: fit-content;
        justify-content: center;
        align-items: center;
    }
    .nav-table:first-child{
        display: flex;
        height: fit-content;
    }
    .nav-table-row{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about-us-div{
        background-image: url(../image/AnaSite/About_Us_Bg_Image.jpg);
        background-size:cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 30vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10vw;
    }
    .about-us-title{
        
        font-size: 60px;
        color: aliceblue;
    }
    .title{
        color: azure;
        font-size: 25px;
        margin-top: 2vw;
        margin-bottom: 1vw;
    }
    .div{
        width: 99%;
        margin: 1vw;
        margin-bottom: 30vw;
    }
    .img{
        width: 40vw;
        height: 15.26vw;
        margin-right: 1vw;
        height: fit-content;
        float: left;
    }
    .p{
        font-size: medium;
        color: aliceblue;
        margin-left: 1vw;
    }
    footer{
        width: 100%;
        background-color: #343A40;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer-img{
        width: 160px;
        height: 100px;
    }
}
