*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #212529;
    font-family: monospace;
    overflow-x: hidden;
}
nav{
    background-color: #343A40;
}
.nav-table{
    width: 100vw;
    height: 100px;
}

.nav-table-row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-table td{
    text-align: center;
    font-size: large;
    font-weight:bolder;
}
.image{
    position: relative;
    float: inline-start;
}
.hakkimizda:link,.hakkimizda:visited{
    display: inline-block;
    padding: 14px 25px;
    text-decoration: none;
    border-radius: 10%;
    color: #fff;
}
.hakkimizda:hover,.hakkimizda:active{
    display: inline-block;
    padding: 14px 25px;
    text-decoration: none;
    color: whitesmoke;
    text-decoration: underline whitesmoke;
}
.robotlar:link,.robotlar:visited{
    display: inline-block;
    padding: 14px 25px;
    text-decoration: none;
    border-radius: 10%;
    color: #fff;
}
.robotlar:hover,.robotlar:active{
    display: inline-block;
    padding: 14px 25px;
    text-decoration: none;
    color: whitesmoke;
    text-decoration: underline whitesmoke;
}
.sponsorlar:link,.sponsorlar:visited{
    display: inline-block;
    padding: 14px 25px;
    text-decoration: none;
    border-radius: 10%;
    color: #fff;
}
.sponsorlar:hover,.sponsorlar:active{
    display: inline-block;
    padding: 14px 25px;
    text-decoration: none;
    color: whitesmoke;
    text-decoration: underline whitesmoke;
}
.blog:link,.blog:visited{
    display: inline-block;
    padding: 14px 25px;
    text-decoration: none;
    border-radius: 10%;
    color: #fff;
}
.blog:hover,.blog:active{
    display: inline-block;
    padding: 14px 25px;
    text-decoration: none;
    color: whitesmoke;
    text-decoration: underline whitesmoke;
}
.iletisim:link,.iletisim:visited{
    display: inline-block;
    padding: 14px 25px;
    text-decoration: none;
    border-radius: 10%;
    color: #fff;
}
.iletisim:hover,.iletisim:active{
    display: inline-block;
    padding: 14px 25px;
    text-decoration: none;
    color: whitesmoke;
    text-decoration: underline whitesmoke;
}
.egitim:link,.egitim:visited{
    display: inline-block;
    padding: 14px 25px;
    text-decoration: none;
    border-radius: 10%;
    color: #fff;
}
.egitim:hover,.egitim:active{
    display: inline-block;
    padding: 14px 25px;
    text-decoration: none;
    color: whitesmoke;
    text-decoration: underline whitesmoke;
}
.photos:link,.photos:visited{
    display: inline-block;
    padding: 14px 25px;
    text-decoration: none;
    border-radius: 10%;
    color: #fff;
}
.photos:hover,.photos:active{
    display: inline-block;
    padding: 14px 25px;
    text-decoration: none;
    color: whitesmoke;
    text-decoration: underline whitesmoke;
}
.why-sponsor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title{
    color: aliceblue;
    font-size: 50px;
    text-align: center;
}
.article-space{
    width: 50vw;
    height: fit-content;
}
.article{
    text-align: center;
    margin-top: 1vw;
    color: aliceblue;
    font-size: xx-large;
    margin-bottom: 15vw;
}
.main-sponsors{
    text-align: center;
    font-size: 50px;
    color: aliceblue;
    margin-bottom: 5vw;
}
.mmm{
    width: fit-content;
    height: 31.25vw;
    margin-bottom: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mmmimage{
    width: 50vw;
    height: fit-content;
    float: left;
    background-color: aliceblue;
}
.mmmtext{
    color: aliceblue;
    text-align: center;
    font-size: xx-large;
}
.ford{
    width: 100vw;
    height: 19.23vw;
    margin-bottom: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fordimage{
    width: 50vw;
    height: fit-content;
    float: right;
    background-color: aliceblue;
}
.fordtext{
    color: aliceblue;
    text-align: center;
    font-size: xx-large;
}
.tc{
    width: fit-content;
    height: 27.77vw;
    margin-bottom: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tcimage{
    width: 50vw;
    height: fit-content;
    float: right;
    background-color: aliceblue;
}
.tctext{
    color: aliceblue;
    text-align: center;
    font-size: xx-large;
}
.amal{
    width: fit-content;
    height: 30vw;
    margin-bottom: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.amalimage{
    width: 50vw;
    height: 30vw;
    background-color: aliceblue;
}
.amaltext{
    color: aliceblue;
    text-align: center;
    font-size: xx-large;
}
.sponsors-2023{
    display: flex;
    flex-direction: column;
    margin-bottom: 5vw;
}
.title-2023-sponsors{
    color: aliceblue;
    font-size: 50px;
    margin-bottom: 5vw;
    text-align: center;
}
.sponsors-image-2023{
    width: 100vw;
    height: 25vw;
}
footer{
    width: 100%;
    background-color: #343A40;
    height:fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    bottom: 0;
    
}
.footer-img{
    width: 320px;
    height: 200px;
}
@media  (min-width: 1024px) {}

@media screen and (min-width:768px) and (max-width:1023px) {
    .nav-table{
        display: flex;
        height: fit-content;
        justify-content: center;
        align-items: center;
    }
    .nav-table:first-child{
        display: flex;
        height: fit-content;
    }
    .nav-table-row{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .why-sponsor{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .title{
        color: aliceblue;
        font-size: 30px;
        text-align: center;
    }
    .article-space{
        width: 50vw;
        height: fit-content;
    }
    .article{
        text-align: center;
        margin-top: 1vw;
        color: aliceblue;
        font-size: x-large;
        margin-bottom: 15vw;
    }
    .main-sponsors{
        text-align: center;
        font-size: 30px;
        color: aliceblue;
        margin-bottom: 5vw;
    }
    .mmm{
        width: fit-content;
        height: 31.25vw;
        margin-bottom: 5vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mmmimage{
        width: 50vw;
        height: fit-content;
        float: left;
        background-color: aliceblue;
    }
    .mmmtext{
        color: aliceblue;
        text-align: center;
        font-size: x-large;
    }
    .ford{
        width: 100vw;
        height: 19.23vw;
        margin-bottom: 5vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .fordimage{
        width: 50vw;
        height: fit-content;
        float: right;
        background-color: aliceblue;
    }
    .fordtext{
        color: aliceblue;
        text-align: center;
        font-size: x-large;
    }
    .tc{
        width: fit-content;
        height: 27.77vw;
        margin-bottom: 5vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .tcimage{
        width: 50vw;
        height: fit-content;
        float: right;
        background-color: aliceblue;
    }
    .tctext{
        color: aliceblue;
        text-align: center;
        font-size: x-large;
    }
    .amal{
        width: fit-content;
        height: 30vw;
        margin-bottom: 5vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .amalimage{
        width: 50vw;
        height: 30vw;
        background-color: aliceblue;
    }
    .amaltext{
        color: aliceblue;
        text-align: center;
        font-size: x-large;
    }
    .sponsors-2023{
        display: flex;
        flex-direction: column;
        margin-bottom: 5vw;
    }
    .title-2023-sponsors{
        color: aliceblue;
        font-size: 30px;
        margin-bottom: 5vw;
        text-align: center;
    }
    .sponsors-image-2023{
        width: 100vw;
        height: 25vw;
    }
    footer{
        width: 100%;
        background-color: #343A40;
        height:fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: auto;
        bottom: 0;
        
    }
    .footer-img{
        width: 240px;
        height: 160px;
    }
}

@media screen and (max-width:767px) {
    .nav-table{
        width: 100vw;
        height: fit-content;
        display: flex;
        height: fit-content;
        justify-content: center;
        align-items: center;
    }
    .nav-table:first-child{
        display: flex;
        height: fit-content;
    }
    .nav-table-row{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .why-sponsor{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .title{
        color: aliceblue;
        font-size: 20px;
        text-align: center;
    }
    .article-space{
        width: 50vw;
        height: fit-content;
    }
    .article{
        text-align: center;
        margin-top: 1vw;
        color: aliceblue;
        font-size: large;
        margin-bottom: 15vw;
    }
    .main-sponsors{
        text-align: center;
        font-size: 20px;
        color: aliceblue;
        margin-bottom: 5vw;
    }
    .mmm{
        width: fit-content;
        height: 31.25vw;
        margin-bottom: 5vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mmmimage{
        width: 50vw;
        height: fit-content;
        float: left;
        background-color: aliceblue;
    }
    .mmmtext{
        color: aliceblue;
        text-align: center;
        font-size:9px;
    }
    .ford{
        width: 100vw;
        height: 19.23vw;
        margin-bottom: 5vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .fordimage{
        width: 50vw;
        height: fit-content;
        float: right;
        background-color: aliceblue;
    }
    .fordtext{
        color: aliceblue;
        text-align: center;
        font-size:9px;
    }
    .tc{
        width: fit-content;
        height: 27.77vw;
        margin-bottom: 5vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .tcimage{
        width: 50vw;
        height: fit-content;
        float: right;
        background-color: aliceblue;
    }
    .tctext{
        color: aliceblue;
        text-align: center;
        font-size:9px;
    }
    .amal{
        width: fit-content;
        height: 30vw;
        margin-bottom: 5vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .amalimage{
        width: 50vw;
        height: 30vw;
        background-color: aliceblue;
    }
    .amaltext{
        color: aliceblue;
        text-align: center;
        font-size:9px;
    }
    .sponsors-2023{
        display: flex;
        flex-direction: column;
        margin-bottom: 5vw;
    }
    .title-2023-sponsors{
        color: aliceblue;
        font-size: 20px;
        margin-bottom: 5vw;
        text-align: center;
    }
    .sponsors-image-2023{
        width: 100vw;
        height: 25vw;
    }
    footer{
        width: 100%;
        background-color: #343A40;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer-img{
        width: 160px;
        height: 100px;
    }

}
